<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset>
		<field name="key" type="text" class="inputbox"
			   size="40" label="JGLOBAL_TITLE"
			   description="COM_UNIFORM_CONFIGURATION_KEY_DES"  />
		<field name="value" type="text" class="inputbox"
			   size="40" label="JGLOBAL_TITLE"
			   description="COM_UNIFORM_CONFIGURATION_VALUE_DES"  />  
		<field name="rules" type="rules" label="JFIELD_RULES_LABEL"
				   translate_label="false" class="inputbox" filter="rules"
				   component="com_uniform" section="component" validate="rules"
		/>
	</fieldset>
</form>
